PORT=8000
MONGODB_URI=mongodb+srv://Hemant:your-password@hemant.r5ddbef.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=3165804fda11044cbb15e9b253b94d5fb4fb5dacfd3143d3767664b021ff2529
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN=hemant234
REFRESH_TOKEN_EXPIRY=10d